{% extends 'base.html' %}

{% block body %}
    <form action="{% url 'candidate_update_view' candidate.pk %}" enctype="multipart/form-data" method='POST'>
        {% csrf_token %}

        {{form.as_p}}

        <p>
            <input type='submit' value='Save and continue editing candidate' />
        </p>
    </form>
    <form action="{% url 'candidate_detail_view' candidate.pk %}">
        <p>
            <input type='submit' value="Save and exit">
        </p>
    </form>

     {% if candidate.image %}
        <p>
            <img src="{{ candidate.image.url }}">
        </p>
        {% endif %}

    <a href="{% url 'candidate_detail_view' candidate.pk %}">Back to {{candidate}}</a>
    <br>
    <a href="{% url 'candidate_list_view' %}"></a>
{% endblock %}
