{% extends 'base.html' %}

{% block body %}
<a href="{% url 'choose_state_race_view' %}">See races by state...</a>
<br>

<h3>Races</h3>
<div class="container">
    <div class="row">
        
    
{% for race in races %}
    <div class="col-sm-3">
        <a href="{% url 'race_detail_view' race.district %}">{{ race }}</a>
    </div>
    
{% endfor %}

</div>
</div>

{% if request.user.is_staff %}
<a href = "{% url 'race_create_view' %}" alt = "race_create_view" %}>Create a new race</a>
{% endif %}
<br>

{% endblock %}
    