{% extends 'base.html' %}

{% block body %}
<div class="container">
<h1>{{ race.name }}</h1>
<h3>{{ race.state_abbrev }}</h3>
<hr>
<h4>Candidates for the {{race.name}}</h4>

        {% for candidate in race.candidate_set.all %}
        {% if forloop.counter0|divisibleby:4 %}
            <div class="row">
        {% endif %}
            <div class="col-sm-3 center {{candidate.political_party.initials}}">
            
            <a href="{% url 'candidate_detail_view' candidate.pk %}"><span class="clickable-div"></span>
                {% if candidate.image %}
                    <img src="{{candidate.image.url}}" class="img-responsive center-block">
                {% endif %}
                {{candidate.name}}</a>
            </div>
        {% if forloop.counter|divisibleby:4 %}
        </div><br>
        {% endif %}
        {% endfor %}
</div>

<br>
<br>
<br>

{% if request.user.is_staff %}
<a href = "{% url 'race_delete_view' race.district %}" alt = "race_delete_view" %}>Delete this race</a><br>
<a href = "{% url 'race_update_view' race.district %}" %}>Update {{ race.name }}</a>

{% endif %}

<br>
<br>
<a href="{% url 'candidate_compare_view' race.district race.candidate_set.all.0.pk %}">Compare two candidates!</a><br>
<a href="{% url 'race_list_view' %}">Back to race list</a>

{% endblock %}  